
body
{
	/*background-color: rgb( 255,255 ,255 ); /*name, hexa rgb*/   /*#CCFFFF;*/

	/*background:url('../img/desert.jpg');

	background-repeat: no-repeat; repeat-x repeat-y no-repeat
	background-attachment: fixed;
	background-size: 100% 100%;*/*/
}


.cls
{
	background-color:yellow;

	height: 100px;  /* inch cm  % */
	/*width: 100px;*/
	width: 30%;
	min-width: 200px;
	max-width: 300px;
	
	float: left;
	/*padding: 10px;*/
	/*padding: 5px 10px 15px 20px;*/
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 5px;		
	border:1px red dashed;
	/*margin: 10px;*/


	color: red;
	font-family: Tahoma;
	text-decoration: underline;
	text-transform: capitalize;
	text-align: justify; 
	overflow:auto;
	text-shadow: white 10px 10px;	
}

a
{
	font-size:10px; 
}
a:visited
{
	background-color: red;
	font-size: 24px;
}
a:active
{
	background-color: blue;
}
a:hover
{
	font-size:16px;
}

#div1
{
	/*
	transform: skew(10deg,40deg);*/
	transition: transform 2s;
}

#div1:hover
{
	transform: rotate(180deg);
}
